<mat-card>
    <mat-card-title class="bgc-purple-800 titleCard">
        Categorías
    </mat-card-title>
    <mat-card-content>
        <table td-data-table>
            <thead>
                <tr td-data-table-column-row>
                    <th td-data-table-column *ngFor="let head of headers">
                        {{head}}
                    </th>
                    <th *ngIf="loginService.isAdmin" td-data-table-column>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr td-data-table-row *ngFor="let elem of pagedItems">
                    <td id="table_index" td-data-table-cell>
                        {{elem.idCategory}}
                    </td>
                    <td *ngIf="loginService.isLogged" id="table_name" td-data-table-cell>
                        <a mat-list-item (click)="openDialogShowCategory(elem)"> {{elem.name}}</a>
                    </td>
                    <td *ngIf="!loginService.isLogged" id="table_name" td-data-table-cell>
                        {{elem.name}}
                    </td>
                    <td *ngIf="loginService.isAdmin" td-data-table-cell id="table_actions">
                        <button mat-button>
                            <a mat-list-item (click)="deleteCategory(elem)">
                                <mat-icon class="tc-red-A700">delete</mat-icon>
                            </a>
                        </button>
                        <button mat-button>
                            <a mat-list-item (click)="openDialogSetCategory(elem.idCategory)">
                                <mat-icon class="tc-purple-700">edit</mat-icon>
                            </a>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <button (click)="setPage(1)">First</button>
            <button (click)="setPage(pager.currentPage - 1)">Previous</button>
            <div *ngFor="let page of pager.pages">
                <button (click)="setPage(page)">{{page}}</button>
            </div>
            <button (click)="setPage(pager.currentPage + 1)">Next</button>

            <button (click)="setPage(pager.totalPages)">Last</button>
        </ul>
        <br>
        <button *ngIf="loginService.isAdmin" mat-button (click)="openDialogAddCategory()">
            <mat-icon class="tc-purple-700">add_circle</mat-icon>
        </button>

    </mat-card-content>
</mat-card>