<mat-card>
    <mat-card-title class="bgc-purple-800 titleCard">
        Intervalos
    </mat-card-title>
    <mat-card-content>
        <table td-data-table>
            <thead>
                <tr td-data-table-column-row>
                    <th td-data-table-column *ngFor="let head of headers">
                        {{head}}
                    </th>
                    <th td-data-table-column>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr td-data-table-row *ngFor="let elem of intervals">
                    <td id="table_index" td-data-table-cell>
                        {{elem.idInterval}}
                    </td>
                    <td id="table_name" td-data-table-cell>
                        {{elem.name}}
                    </td>
                    <td id="table_ini" td-data-table-cell>
                        {{elem.start}}
                    </td>
                    <td id="table_fin" td-data-table-cell>
                        {{elem.end}}
                    </td>
                    <td id="table_actions" td-data-table-cell>
                        <button mat-button>
                            <mat-icon class="tc-red-A700">delete</mat-icon>
                        </button>
                        <button mat-button>
                            <mat-icon class="tc-purple-700">edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button mat-button (click)="openDialog()"><mat-icon class="tc-purple-700">add_circle</mat-icon>
        </button> 

    </mat-card-content>
</mat-card>