<!--<td-layout>

    <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Library' : ''" navigationRoute="/">

        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span flex *ngIf="!searchBox.searchVisible"></span>
            <td-search-box hide-xs flex #searchBox
                [ngClass]="{ 'push-left push-right mat-whiteframe-z1 bgc-white tc-black': searchBox.searchVisible }"
                placeholder="search"></td-search-box>
            <login></login>
        </div>

        <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">

            <div flex-gt-sm="100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </td-layout-nav>
</td-layout> 
-->


<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'" [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'"
    [class]="activeTheme">

    <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Gestor de Tiempos' : ''" navigationRoute="/">

        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span flex *ngIf="!searchBox.searchVisible"></span>
            <td-search-box hide-xs flex #searchBox [ngClass]="{'push-left push-right mat-whiteframe-z1 bgc-white tc-black': searchBox.searchVisible }"
                placeholder="search"></td-search-box>

            <!--AQUI VA EL LOGIN-->
        </div>
        <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
            [sidenavWidth]="!miniNav ? '257px' : '64px'">
            <!--SIDEBAR-->
            <div td-sidenav-content layout="column" layout-fill>

                <mat-nav-list flex [tdLayoutManageListClose]="!media.query('gt-sm')">
                    <a mat-list-item (click)="changeView('category')">
                        <mat-icon matListIcon matTooltipPosition="after">dashboard</mat-icon>
                        <span>Categorías</span>
                    </a>
                    <a mat-list-item (click)="changeView('event')">
                        <mat-icon matListIcon matTooltipPosition="after">dashboard</mat-icon>
                        <span>Eventos</span>
                    </a>
                    <a mat-list-item (click)="changeView('interval')">
                        <mat-icon matListIcon matTooltipPosition="after">dashboard</mat-icon>
                        <span>Intervalos</span>
                    </a>
                    <!--<ng-template let-item let-index="index" let-last="last" ngFor [ngForOf]="[0, 1, 2, 3]">
                        <a mat-list-item>
                            <mat-icon matListIcon matTooltipPosition="after">dashboard</mat-icon>
                            <span *ngIf="!miniNav">Dashboard {{index}}</span>
                        </a>
                    </ng-template>-->
                    <mat-divider></mat-divider>
                </mat-nav-list>
            </div>

            <!--CONTAINER-->
            <mat-drawer-container>
                CONTENEDOR
                <div id="contenido">
                    <category-view id ="category_view" style="display:none"></category-view>
                    <event-view id ="event_view" style="display:none"></event-view>
                    <interval-view id ="interval_view" style="display:none"></interval-view>
                </div>
         <!-- <mat-grid-list cols="1" rowHeight="20:1">
                  <mat-grid-tile>1</mat-grid-tile>
                  <mat-grid-tile>2</mat-grid-tile>
                </mat-grid-list>-->



            </mat-drawer-container>

        </td-layout-manage-list>
    </td-layout-nav>
</td-layout>